.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.141602;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.065000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.006836;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.141602;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.932617;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.675781;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:fff;src:url(ff.woff)format("woff");}.fff{font-family:fff;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff10;src:url(f10.woff)format("woff");}.ff10{font-family:ff10;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff11;src:url(f11.woff)format("woff");}.ff11{font-family:ff11;line-height:0.975586;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff12;src:url(f12.woff)format("woff");}.ff12{font-family:ff12;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff13;src:url(f13.woff)format("woff");}.ff13{font-family:ff13;line-height:1.394043;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff14;src:url(f14.woff)format("woff");}.ff14{font-family:ff14;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff15;src:url(f15.woff)format("woff");}.ff15{font-family:ff15;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff16;src:url(f16.woff)format("woff");}.ff16{font-family:ff16;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff17;src:url(f17.woff)format("woff");}.ff17{font-family:ff17;line-height:0.680176;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff18;src:url(f18.woff)format("woff");}.ff18{font-family:ff18;line-height:0.960000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff19;src:url(f19.woff)format("woff");}.ff19{font-family:ff19;line-height:1.121000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1a;src:url(f1a.woff)format("woff");}.ff1a{font-family:ff1a;line-height:0.990000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1b;src:url(f1b.woff)format("woff");}.ff1b{font-family:ff1b;line-height:0.990000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls3{letter-spacing:-0.704000px;}
.ls2{letter-spacing:-0.397600px;}
.ls5{letter-spacing:-0.222800px;}
.ls1{letter-spacing:-0.007680px;}
.ls0{letter-spacing:0.000000px;}
.ls8{letter-spacing:0.002880px;}
.ls7{letter-spacing:0.005760px;}
.lsa{letter-spacing:0.030240px;}
.ls4{letter-spacing:0.034560px;}
.ls9{letter-spacing:0.035520px;}
.ls6{letter-spacing:0.046000px;}
.lsb{letter-spacing:0.060400px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.ws4{word-spacing:1.288000px;}
.ws3{word-spacing:3.752000px;}
.ws1{word-spacing:7.856000px;}
.ws2{word-spacing:12.416000px;}
._b{margin-left:-5.142400px;}
._3{margin-left:-1.249920px;}
._1{width:1.296000px;}
._0{width:3.072000px;}
._2{width:4.080000px;}
._8{width:5.648640px;}
._9{width:6.696960px;}
._a{width:8.616960px;}
._6{width:10.191360px;}
._c{width:11.738400px;}
._5{width:13.094400px;}
._7{width:15.091200px;}
._4{width:16.323840px;}
._f{width:26.918960px;}
._11{width:93.538160px;}
._13{width:101.755040px;}
._10{width:129.390240px;}
._12{width:130.457760px;}
._e{width:645.481760px;}
._d{width:2531.814240px;}
.fc6{color:rgb(0,175,240);}
.fc5{color:rgb(170,170,170);}
.fc7{color:rgb(10,10,10);}
.fc4{color:rgb(86,143,236);}
.fc0{color:rgb(255,255,255);}
.fc2{color:rgb(52,59,64);}
.fc1{color:rgb(0,0,0);}
.fc3{color:rgb(114,112,112);}
.fs3{font-size:1.920000px;}
.fs0{font-size:3.840000px;}
.fs9{font-size:24.000000px;}
.fsa{font-size:25.920000px;}
.fs18{font-size:28.080000px;}
.fs13{font-size:30.000000px;}
.fs1a{font-size:31.920000px;}
.fs12{font-size:32.800000px;}
.fs11{font-size:39.200000px;}
.fs5{font-size:39.840000px;}
.fs16{font-size:40.080000px;}
.fs2{font-size:40.320000px;}
.fse{font-size:42.000000px;}
.fs7{font-size:42.240000px;}
.fs19{font-size:43.920000px;}
.fs1c{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs10{font-size:51.200000px;}
.fs15{font-size:55.920000px;}
.fsb{font-size:56.000000px;}
.fs6{font-size:56.160000px;}
.fsd{font-size:60.000000px;}
.fs8{font-size:63.840000px;}
.fsc{font-size:64.000000px;}
.fs14{font-size:64.080000px;}
.fsf{font-size:72.000000px;}
.fs1b{font-size:79.920000px;}
.fs1d{font-size:96.000000px;}
.fs17{font-size:112.080000px;}
.fs1e{font-size:160.000000px;}
.fs4{font-size:160.416000px;}
.yf{bottom:-9.380000px;}
.y9{bottom:-9.360000px;}
.y2{bottom:-0.240050px;}
.y0{bottom:0.000000px;}
.y10{bottom:0.240000px;}
.y47{bottom:1.680000px;}
.yc{bottom:2.640000px;}
.ya{bottom:4.800000px;}
.y11{bottom:5.040000px;}
.y81{bottom:6.960000px;}
.y27{bottom:7.680000px;}
.y46{bottom:7.700000px;}
.yb{bottom:14.640000px;}
.y80{bottom:16.800000px;}
.y29{bottom:17.544000px;}
.y26{bottom:20.880000px;}
.yac{bottom:22.000000px;}
.yae{bottom:24.040000px;}
.y45{bottom:25.700000px;}
.y7f{bottom:26.280000px;}
.y5{bottom:27.360000px;}
.y28{bottom:31.680000px;}
.y31{bottom:32.640000px;}
.y7e{bottom:36.000000px;}
.y4{bottom:37.920000px;}
.yd2{bottom:38.160000px;}
.y25{bottom:38.880000px;}
.y48{bottom:43.000000px;}
.y44{bottom:43.700000px;}
.y30{bottom:45.620000px;}
.y7d{bottom:45.840000px;}
.y6{bottom:49.224000px;}
.yd1{bottom:51.480000px;}
.y24{bottom:51.836000px;}
.y7c{bottom:54.960000px;}
.y43{bottom:56.900000px;}
.yab{bottom:56.925000px;}
.y2f{bottom:58.580000px;}
.yd0{bottom:62.940000px;}
.yaa{bottom:64.556000px;}
.y7b{bottom:67.200000px;}
.y23{bottom:69.836000px;}
.y8e{bottom:70.500000px;}
.y2e{bottom:71.540000px;}
.y42{bottom:74.900000px;}
.ycf{bottom:74.940000px;}
.y7a{bottom:79.440000px;}
.y22{bottom:82.826000px;}
.yd9{bottom:83.170000px;}
.y2d{bottom:84.740000px;}
.yce{bottom:90.480000px;}
.y79{bottom:91.584000px;}
.y41{bottom:92.930000px;}
.ydb{bottom:97.610000px;}
.y21{bottom:101.546000px;}
.y78{bottom:103.820000px;}
.y40{bottom:105.890000px;}
.ya9{bottom:107.065000px;}
.y2c{bottom:109.940000px;}
.ycd{bottom:111.720000px;}
.y77{bottom:116.060000px;}
.y20{bottom:118.586000px;}
.y3f{bottom:123.890000px;}
.ycc{bottom:125.460000px;}
.ya8{bottom:126.761000px;}
.y76{bottom:128.300000px;}
.y2b{bottom:131.570000px;}
.y3e{bottom:136.850000px;}
.ycb{bottom:139.260000px;}
.y75{bottom:140.420000px;}
.y1f{bottom:149.546000px;}
.ya7{bottom:151.586000px;}
.yca{bottom:152.640000px;}
.y74{bottom:152.660000px;}
.y3d{bottom:154.850000px;}
.yc9{bottom:164.400000px;}
.y73{bottom:164.900000px;}
.y1e{bottom:167.566000px;}
.ya6{bottom:171.283000px;}
.y3c{bottom:172.870000px;}
.yc8{bottom:176.820000px;}
.y72{bottom:177.140000px;}
.y2a{bottom:179.330000px;}
.y1d{bottom:185.566000px;}
.yc7{bottom:187.680000px;}
.y71{bottom:189.260000px;}
.ya5{bottom:191.608000px;}
.y3b{bottom:191.830000px;}
.yc6{bottom:196.760000px;}
.y1c{bottom:198.526000px;}
.y70{bottom:201.500000px;}
.y3a{bottom:204.790000px;}
.yc5{bottom:210.140000px;}
.y32{bottom:211.010000px;}
.ya4{bottom:211.304000px;}
.y6f{bottom:213.620000px;}
.y1b{bottom:216.526000px;}
.yc4{bottom:221.660000px;}
.y39{bottom:223.510000px;}
.y6e{bottom:224.780000px;}
.yd4{bottom:231.710000px;}
.y1a{bottom:234.526000px;}
.y6d{bottom:235.820000px;}
.yc3{bottom:235.940000px;}
.y38{bottom:240.790000px;}
.y19{bottom:252.556000px;}
.yc2{bottom:252.680000px;}
.ya1{bottom:257.574000px;}
.ya3{bottom:257.575000px;}
.yc1{bottom:262.520000px;}
.y18{bottom:265.516000px;}
.ya0{bottom:269.784000px;}
.y37{bottom:271.770000px;}
.ydc{bottom:273.360000px;}
.yc0{bottom:274.880000px;}
.y9f{bottom:281.994000px;}
.y17{bottom:283.516000px;}
.ybf{bottom:286.400000px;}
.y36{bottom:289.530000px;}
.y9e{bottom:294.204000px;}
.ybe{bottom:300.680000px;}
.y16{bottom:301.516000px;}
.yd6{bottom:301.700000px;}
.y9d{bottom:306.414000px;}
.y35{bottom:307.770000px;}
.ybd{bottom:317.780000px;}
.y6c{bottom:317.810000px;}
.y9c{bottom:318.624000px;}
.y15{bottom:320.236000px;}
.y34{bottom:320.730000px;}
.y6b{bottom:325.610000px;}
.ybc{bottom:329.540000px;}
.y9b{bottom:330.834000px;}
.yd8{bottom:334.590000px;}
.y6a{bottom:337.130000px;}
.y14{bottom:337.536000px;}
.y33{bottom:339.480000px;}
.ybb{bottom:341.960000px;}
.y9a{bottom:343.044000px;}
.y69{bottom:348.530000px;}
.yba{bottom:353.440000px;}
.y99{bottom:355.255000px;}
.y68{bottom:360.050000px;}
.y98{bottom:367.464000px;}
.ya2{bottom:367.465000px;}
.yb9{bottom:367.780000px;}
.y67{bottom:371.570000px;}
.yd5{bottom:374.380000px;}
.y97{bottom:379.674000px;}
.y66{bottom:383.090000px;}
.yb8{bottom:385.120000px;}
.y8d{bottom:393.320000px;}
.y65{bottom:394.610000px;}
.yd3{bottom:396.250000px;}
.yb7{bottom:398.440000px;}
.y64{bottom:406.130000px;}
.y96{bottom:410.050000px;}
.yb6{bottom:413.020000px;}
.y8c{bottom:416.940000px;}
.y63{bottom:417.530000px;}
.yda{bottom:419.060000px;}
.y13{bottom:419.880000px;}
.yb5{bottom:425.500000px;}
.y95{bottom:426.839000px;}
.y62{bottom:429.070000px;}
.y8b{bottom:431.110000px;}
.y61{bottom:440.590000px;}
.y12{bottom:444.120000px;}
.y8a{bottom:445.290000px;}
.y60{bottom:452.230000px;}
.yb4{bottom:454.720000px;}
.y89{bottom:459.460000px;}
.y94{bottom:461.017000px;}
.y5f{bottom:465.310000px;}
.ye{bottom:468.380000px;}
.yb3{bottom:469.960000px;}
.yd7{bottom:470.330000px;}
.y88{bottom:473.630000px;}
.yb2{bottom:482.320000px;}
.y5e{bottom:482.470000px;}
.y87{bottom:487.810000px;}
.y5d{bottom:492.430000px;}
.yd{bottom:492.860000px;}
.yb1{bottom:498.880000px;}
.y93{bottom:499.503000px;}
.y7{bottom:500.036000px;}
.y86{bottom:501.980000px;}
.y5c{bottom:512.590000px;}
.y85{bottom:516.150000px;}
.y8{bottom:517.100000px;}
.yb0{bottom:517.320000px;}
.y91{bottom:518.045000px;}
.y5b{bottom:522.670000px;}
.y92{bottom:529.541000px;}
.y5a{bottom:532.630000px;}
.y90{bottom:533.308000px;}
.yaf{bottom:534.780000px;}
.y8f{bottom:548.570000px;}
.yad{bottom:548.640000px;}
.y59{bottom:549.790000px;}
.y84{bottom:558.070000px;}
.y58{bottom:559.870000px;}
.y57{bottom:569.830000px;}
.y56{bottom:579.790000px;}
.y55{bottom:589.870000px;}
.y3{bottom:594.890000px;}
.y54{bottom:599.860000px;}
.y83{bottom:601.190000px;}
.y53{bottom:611.380000px;}
.y52{bottom:629.140000px;}
.y51{bottom:642.700000px;}
.y82{bottom:657.890000px;}
.y50{bottom:660.220000px;}
.y4f{bottom:676.780000px;}
.y4e{bottom:693.460000px;}
.y4d{bottom:710.020000px;}
.y4c{bottom:726.580000px;}
.y4b{bottom:743.260000px;}
.y4a{bottom:758.980000px;}
.y49{bottom:768.360000px;}
.y1{bottom:841.920000px;}
.h8{height:1.798125px;}
.hd{height:1.995938px;}
.h10{height:3.596250px;}
.h9{height:14.160000px;}
.ha{height:14.400000px;}
.h7{height:24.000000px;}
.h1b{height:24.949219px;}
.h1d{height:26.553516px;}
.h1e{height:26.945156px;}
.h1c{height:28.153125px;}
.h33{height:29.190586px;}
.h29{height:29.782813px;}
.h2b{height:31.186523px;}
.h3a{height:32.560000px;}
.h36{height:33.182461px;}
.h2a{height:34.097266px;}
.h3d{height:35.200000px;}
.h4{height:37.760625px;}
.h3e{height:39.644000px;}
.h14{height:41.415703px;}
.h35{height:41.665195px;}
.hb{height:41.914687px;}
.h26{height:43.661133px;}
.h19{height:43.910625px;}
.h16{height:44.591250px;}
.h34{height:45.657070px;}
.h2e{height:48.843750px;}
.h2{height:49.898438px;}
.h17{height:50.671875px;}
.h6{height:50.688000px;}
.h28{height:53.225000px;}
.h39{height:53.280000px;}
.h31{height:58.131680px;}
.h21{height:58.214844px;}
.h15{height:58.381172px;}
.h30{height:59.032734px;}
.h20{height:59.117188px;}
.h25{height:62.373047px;}
.h1a{height:66.364922px;}
.h18{height:67.393594px;}
.h22{height:67.562500px;}
.h2f{height:67.646953px;}
.h27{height:74.847656px;}
.h37{height:83.080898px;}
.h3b{height:86.496000px;}
.h32{height:118.318828px;}
.hf{height:120.312000px;}
.h3c{height:128.000000px;}
.he{height:217.030000px;}
.h3{height:247.030000px;}
.h11{height:353.880000px;}
.h24{height:486.500000px;}
.h5{height:514.460000px;}
.h2d{height:538.500000px;}
.h23{height:595.280000px;}
.h2c{height:595.320000px;}
.h38{height:595.500000px;}
.h13{height:777.000000px;}
.hc{height:810.240000px;}
.h1f{height:841.890000px;}
.h0{height:841.920000px;}
.h1{height:842.000000px;}
.h12{height:842.040000px;}
.w7{width:16.080018px;}
.w5{width:22.080000px;}
.w4{width:30.023982px;}
.w6{width:141.890000px;}
.w3{width:210.069982px;}
.w8{width:385.130000px;}
.wa{width:563.500000px;}
.w1{width:595.000000px;}
.w2{width:595.199991px;}
.w0{width:595.200000px;}
.wc{width:595.280000px;}
.wd{width:595.500000px;}
.wb{width:595.559991px;}
.w9{width:595.560000px;}
.wf{width:752.000000px;}
.w11{width:775.000000px;}
.we{width:841.890000px;}
.w12{width:841.919987px;}
.w10{width:841.920000px;}
.w13{width:842.000000px;}
.x0{left:0.000000px;}
.x3{left:14.160000px;}
.x2{left:30.023982px;}
.x1c{left:35.000000px;}
.x6{left:42.023982px;}
.x16{left:45.000000px;}
.x4{left:52.104000px;}
.x19{left:68.250000px;}
.x1d{left:77.999987px;}
.x14{left:82.760000px;}
.x9{left:109.579991px;}
.xa{left:111.019991px;}
.xc{left:116.659991px;}
.x17{left:131.250000px;}
.x15{left:141.420000px;}
.xb{left:150.259991px;}
.xd{left:165.379991px;}
.x12{left:191.190000px;}
.x5{left:193.990000px;}
.x10{left:204.769991px;}
.x1{left:209.109982px;}
.x26{left:211.099987px;}
.x8{left:219.169991px;}
.x23{left:226.639987px;}
.xf{left:233.929991px;}
.x7{left:235.249991px;}
.x11{left:239.209991px;}
.x1f{left:265.699987px;}
.x22{left:271.579987px;}
.x13{left:289.000000px;}
.x20{left:292.399987px;}
.xe{left:298.869991px;}
.x2a{left:324.800000px;}
.x28{left:326.310000px;}
.x29{left:328.570000px;}
.x21{left:353.959987px;}
.x1e{left:418.219987px;}
.x1b{left:424.149000px;}
.x1a{left:448.920000px;}
.x27{left:551.739987px;}
.x24{left:562.719987px;}
.x18{left:594.375000px;}
.x2b{left:636.380000px;}
.x25{left:758.459987px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls3{letter-spacing:-0.938667pt;}
.ls2{letter-spacing:-0.530133pt;}
.ls5{letter-spacing:-0.297067pt;}
.ls1{letter-spacing:-0.010240pt;}
.ls0{letter-spacing:0.000000pt;}
.ls8{letter-spacing:0.003840pt;}
.ls7{letter-spacing:0.007680pt;}
.lsa{letter-spacing:0.040320pt;}
.ls4{letter-spacing:0.046080pt;}
.ls9{letter-spacing:0.047360pt;}
.ls6{letter-spacing:0.061333pt;}
.lsb{letter-spacing:0.080533pt;}
.ws0{word-spacing:0.000000pt;}
.ws4{word-spacing:1.717333pt;}
.ws3{word-spacing:5.002667pt;}
.ws1{word-spacing:10.474667pt;}
.ws2{word-spacing:16.554667pt;}
._b{margin-left:-6.856533pt;}
._3{margin-left:-1.666560pt;}
._1{width:1.728000pt;}
._0{width:4.096000pt;}
._2{width:5.440000pt;}
._8{width:7.531520pt;}
._9{width:8.929280pt;}
._a{width:11.489280pt;}
._6{width:13.588480pt;}
._c{width:15.651200pt;}
._5{width:17.459200pt;}
._7{width:20.121600pt;}
._4{width:21.765120pt;}
._f{width:35.891947pt;}
._11{width:124.717547pt;}
._13{width:135.673387pt;}
._10{width:172.520320pt;}
._12{width:173.943680pt;}
._e{width:860.642347pt;}
._d{width:3375.752320pt;}
.fs3{font-size:2.560000pt;}
.fs0{font-size:5.120000pt;}
.fs9{font-size:32.000000pt;}
.fsa{font-size:34.560000pt;}
.fs18{font-size:37.440000pt;}
.fs13{font-size:40.000000pt;}
.fs1a{font-size:42.560000pt;}
.fs12{font-size:43.733333pt;}
.fs11{font-size:52.266667pt;}
.fs5{font-size:53.120000pt;}
.fs16{font-size:53.440000pt;}
.fs2{font-size:53.760000pt;}
.fse{font-size:56.000000pt;}
.fs7{font-size:56.320000pt;}
.fs19{font-size:58.560000pt;}
.fs1c{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs10{font-size:68.266667pt;}
.fs15{font-size:74.560000pt;}
.fsb{font-size:74.666667pt;}
.fs6{font-size:74.880000pt;}
.fsd{font-size:80.000000pt;}
.fs8{font-size:85.120000pt;}
.fsc{font-size:85.333333pt;}
.fs14{font-size:85.440000pt;}
.fsf{font-size:96.000000pt;}
.fs1b{font-size:106.560000pt;}
.fs1d{font-size:128.000000pt;}
.fs17{font-size:149.440000pt;}
.fs1e{font-size:213.333333pt;}
.fs4{font-size:213.888000pt;}
.yf{bottom:-12.506667pt;}
.y9{bottom:-12.480000pt;}
.y2{bottom:-0.320067pt;}
.y0{bottom:0.000000pt;}
.y10{bottom:0.320000pt;}
.y47{bottom:2.240000pt;}
.yc{bottom:3.520000pt;}
.ya{bottom:6.400000pt;}
.y11{bottom:6.720000pt;}
.y81{bottom:9.280000pt;}
.y27{bottom:10.240000pt;}
.y46{bottom:10.266667pt;}
.yb{bottom:19.520000pt;}
.y80{bottom:22.400000pt;}
.y29{bottom:23.392000pt;}
.y26{bottom:27.840000pt;}
.yac{bottom:29.333333pt;}
.yae{bottom:32.053333pt;}
.y45{bottom:34.266667pt;}
.y7f{bottom:35.040000pt;}
.y5{bottom:36.480000pt;}
.y28{bottom:42.240000pt;}
.y31{bottom:43.520000pt;}
.y7e{bottom:48.000000pt;}
.y4{bottom:50.560000pt;}
.yd2{bottom:50.880000pt;}
.y25{bottom:51.840000pt;}
.y48{bottom:57.333333pt;}
.y44{bottom:58.266667pt;}
.y30{bottom:60.826667pt;}
.y7d{bottom:61.120000pt;}
.y6{bottom:65.632000pt;}
.yd1{bottom:68.640000pt;}
.y24{bottom:69.114667pt;}
.y7c{bottom:73.280000pt;}
.y43{bottom:75.866667pt;}
.yab{bottom:75.900000pt;}
.y2f{bottom:78.106667pt;}
.yd0{bottom:83.920000pt;}
.yaa{bottom:86.074667pt;}
.y7b{bottom:89.600000pt;}
.y23{bottom:93.114667pt;}
.y8e{bottom:94.000000pt;}
.y2e{bottom:95.386667pt;}
.y42{bottom:99.866667pt;}
.ycf{bottom:99.920000pt;}
.y7a{bottom:105.920000pt;}
.y22{bottom:110.434667pt;}
.yd9{bottom:110.893333pt;}
.y2d{bottom:112.986667pt;}
.yce{bottom:120.640000pt;}
.y79{bottom:122.112000pt;}
.y41{bottom:123.906667pt;}
.ydb{bottom:130.146667pt;}
.y21{bottom:135.394667pt;}
.y78{bottom:138.426667pt;}
.y40{bottom:141.186667pt;}
.ya9{bottom:142.753333pt;}
.y2c{bottom:146.586667pt;}
.ycd{bottom:148.960000pt;}
.y77{bottom:154.746667pt;}
.y20{bottom:158.114667pt;}
.y3f{bottom:165.186667pt;}
.ycc{bottom:167.280000pt;}
.ya8{bottom:169.014667pt;}
.y76{bottom:171.066667pt;}
.y2b{bottom:175.426667pt;}
.y3e{bottom:182.466667pt;}
.ycb{bottom:185.680000pt;}
.y75{bottom:187.226667pt;}
.y1f{bottom:199.394667pt;}
.ya7{bottom:202.114667pt;}
.yca{bottom:203.520000pt;}
.y74{bottom:203.546667pt;}
.y3d{bottom:206.466667pt;}
.yc9{bottom:219.200000pt;}
.y73{bottom:219.866667pt;}
.y1e{bottom:223.421333pt;}
.ya6{bottom:228.377333pt;}
.y3c{bottom:230.493333pt;}
.yc8{bottom:235.760000pt;}
.y72{bottom:236.186667pt;}
.y2a{bottom:239.106667pt;}
.y1d{bottom:247.421333pt;}
.yc7{bottom:250.240000pt;}
.y71{bottom:252.346667pt;}
.ya5{bottom:255.477333pt;}
.y3b{bottom:255.773333pt;}
.yc6{bottom:262.346667pt;}
.y1c{bottom:264.701333pt;}
.y70{bottom:268.666667pt;}
.y3a{bottom:273.053333pt;}
.yc5{bottom:280.186667pt;}
.y32{bottom:281.346667pt;}
.ya4{bottom:281.738667pt;}
.y6f{bottom:284.826667pt;}
.y1b{bottom:288.701333pt;}
.yc4{bottom:295.546667pt;}
.y39{bottom:298.013333pt;}
.y6e{bottom:299.706667pt;}
.yd4{bottom:308.946667pt;}
.y1a{bottom:312.701333pt;}
.y6d{bottom:314.426667pt;}
.yc3{bottom:314.586667pt;}
.y38{bottom:321.053333pt;}
.y19{bottom:336.741333pt;}
.yc2{bottom:336.906667pt;}
.ya1{bottom:343.432000pt;}
.ya3{bottom:343.433333pt;}
.yc1{bottom:350.026667pt;}
.y18{bottom:354.021333pt;}
.ya0{bottom:359.712000pt;}
.y37{bottom:362.360000pt;}
.ydc{bottom:364.480000pt;}
.yc0{bottom:366.506667pt;}
.y9f{bottom:375.992000pt;}
.y17{bottom:378.021333pt;}
.ybf{bottom:381.866667pt;}
.y36{bottom:386.040000pt;}
.y9e{bottom:392.272000pt;}
.ybe{bottom:400.906667pt;}
.y16{bottom:402.021333pt;}
.yd6{bottom:402.266667pt;}
.y9d{bottom:408.552000pt;}
.y35{bottom:410.360000pt;}
.ybd{bottom:423.706667pt;}
.y6c{bottom:423.746667pt;}
.y9c{bottom:424.832000pt;}
.y15{bottom:426.981333pt;}
.y34{bottom:427.640000pt;}
.y6b{bottom:434.146667pt;}
.ybc{bottom:439.386667pt;}
.y9b{bottom:441.112000pt;}
.yd8{bottom:446.120000pt;}
.y6a{bottom:449.506667pt;}
.y14{bottom:450.048000pt;}
.y33{bottom:452.640000pt;}
.ybb{bottom:455.946667pt;}
.y9a{bottom:457.392000pt;}
.y69{bottom:464.706667pt;}
.yba{bottom:471.253333pt;}
.y99{bottom:473.673333pt;}
.y68{bottom:480.066667pt;}
.y98{bottom:489.952000pt;}
.ya2{bottom:489.953333pt;}
.yb9{bottom:490.373333pt;}
.y67{bottom:495.426667pt;}
.yd5{bottom:499.173333pt;}
.y97{bottom:506.232000pt;}
.y66{bottom:510.786667pt;}
.yb8{bottom:513.493333pt;}
.y8d{bottom:524.426667pt;}
.y65{bottom:526.146667pt;}
.yd3{bottom:528.333333pt;}
.yb7{bottom:531.253333pt;}
.y64{bottom:541.506667pt;}
.y96{bottom:546.733333pt;}
.yb6{bottom:550.693333pt;}
.y8c{bottom:555.920000pt;}
.y63{bottom:556.706667pt;}
.yda{bottom:558.746667pt;}
.y13{bottom:559.840000pt;}
.yb5{bottom:567.333333pt;}
.y95{bottom:569.118667pt;}
.y62{bottom:572.093333pt;}
.y8b{bottom:574.813333pt;}
.y61{bottom:587.453333pt;}
.y12{bottom:592.160000pt;}
.y8a{bottom:593.720000pt;}
.y60{bottom:602.973333pt;}
.yb4{bottom:606.293333pt;}
.y89{bottom:612.613333pt;}
.y94{bottom:614.689333pt;}
.y5f{bottom:620.413333pt;}
.ye{bottom:624.506667pt;}
.yb3{bottom:626.613333pt;}
.yd7{bottom:627.106667pt;}
.y88{bottom:631.506667pt;}
.yb2{bottom:643.093333pt;}
.y5e{bottom:643.293333pt;}
.y87{bottom:650.413333pt;}
.y5d{bottom:656.573333pt;}
.yd{bottom:657.146667pt;}
.yb1{bottom:665.173333pt;}
.y93{bottom:666.004000pt;}
.y7{bottom:666.714667pt;}
.y86{bottom:669.306667pt;}
.y5c{bottom:683.453333pt;}
.y85{bottom:688.200000pt;}
.y8{bottom:689.466667pt;}
.yb0{bottom:689.760000pt;}
.y91{bottom:690.726667pt;}
.y5b{bottom:696.893333pt;}
.y92{bottom:706.054667pt;}
.y5a{bottom:710.173333pt;}
.y90{bottom:711.077333pt;}
.yaf{bottom:713.040000pt;}
.y8f{bottom:731.426667pt;}
.yad{bottom:731.520000pt;}
.y59{bottom:733.053333pt;}
.y84{bottom:744.093333pt;}
.y58{bottom:746.493333pt;}
.y57{bottom:759.773333pt;}
.y56{bottom:773.053333pt;}
.y55{bottom:786.493333pt;}
.y3{bottom:793.186667pt;}
.y54{bottom:799.813333pt;}
.y83{bottom:801.586667pt;}
.y53{bottom:815.173333pt;}
.y52{bottom:838.853333pt;}
.y51{bottom:856.933333pt;}
.y82{bottom:877.186667pt;}
.y50{bottom:880.293333pt;}
.y4f{bottom:902.373333pt;}
.y4e{bottom:924.613333pt;}
.y4d{bottom:946.693333pt;}
.y4c{bottom:968.773333pt;}
.y4b{bottom:991.013333pt;}
.y4a{bottom:1011.973333pt;}
.y49{bottom:1024.480000pt;}
.y1{bottom:1122.560000pt;}
.h8{height:2.397500pt;}
.hd{height:2.661250pt;}
.h10{height:4.795000pt;}
.h9{height:18.880000pt;}
.ha{height:19.200000pt;}
.h7{height:32.000000pt;}
.h1b{height:33.265625pt;}
.h1d{height:35.404688pt;}
.h1e{height:35.926875pt;}
.h1c{height:37.537500pt;}
.h33{height:38.920781pt;}
.h29{height:39.710417pt;}
.h2b{height:41.582031pt;}
.h3a{height:43.413333pt;}
.h36{height:44.243281pt;}
.h2a{height:45.463021pt;}
.h3d{height:46.933333pt;}
.h4{height:50.347500pt;}
.h3e{height:52.858667pt;}
.h14{height:55.220937pt;}
.h35{height:55.553594pt;}
.hb{height:55.886250pt;}
.h26{height:58.214844pt;}
.h19{height:58.547500pt;}
.h16{height:59.455000pt;}
.h34{height:60.876094pt;}
.h2e{height:65.125000pt;}
.h2{height:66.531250pt;}
.h17{height:67.562500pt;}
.h6{height:67.584000pt;}
.h28{height:70.966667pt;}
.h39{height:71.040000pt;}
.h31{height:77.508906pt;}
.h21{height:77.619792pt;}
.h15{height:77.841562pt;}
.h30{height:78.710313pt;}
.h20{height:78.822917pt;}
.h25{height:83.164062pt;}
.h1a{height:88.486563pt;}
.h18{height:89.858125pt;}
.h22{height:90.083333pt;}
.h2f{height:90.195937pt;}
.h27{height:99.796875pt;}
.h37{height:110.774531pt;}
.h3b{height:115.328000pt;}
.h32{height:157.758437pt;}
.hf{height:160.416000pt;}
.h3c{height:170.666667pt;}
.he{height:289.373333pt;}
.h3{height:329.373333pt;}
.h11{height:471.840000pt;}
.h24{height:648.666667pt;}
.h5{height:685.946667pt;}
.h2d{height:718.000000pt;}
.h23{height:793.706667pt;}
.h2c{height:793.760000pt;}
.h38{height:794.000000pt;}
.h13{height:1036.000000pt;}
.hc{height:1080.320000pt;}
.h1f{height:1122.520000pt;}
.h0{height:1122.560000pt;}
.h1{height:1122.666667pt;}
.h12{height:1122.720000pt;}
.w7{width:21.440024pt;}
.w5{width:29.440000pt;}
.w4{width:40.031976pt;}
.w6{width:189.186667pt;}
.w3{width:280.093310pt;}
.w8{width:513.506667pt;}
.wa{width:751.333333pt;}
.w1{width:793.333333pt;}
.w2{width:793.599988pt;}
.w0{width:793.600000pt;}
.wc{width:793.706667pt;}
.wd{width:794.000000pt;}
.wb{width:794.079988pt;}
.w9{width:794.080000pt;}
.wf{width:1002.666667pt;}
.w11{width:1033.333333pt;}
.we{width:1122.520000pt;}
.w12{width:1122.559983pt;}
.w10{width:1122.560000pt;}
.w13{width:1122.666667pt;}
.x0{left:0.000000pt;}
.x3{left:18.880000pt;}
.x2{left:40.031976pt;}
.x1c{left:46.666667pt;}
.x6{left:56.031976pt;}
.x16{left:60.000000pt;}
.x4{left:69.472000pt;}
.x19{left:91.000000pt;}
.x1d{left:103.999983pt;}
.x14{left:110.346667pt;}
.x9{left:146.106655pt;}
.xa{left:148.026655pt;}
.xc{left:155.546655pt;}
.x17{left:175.000000pt;}
.x15{left:188.560000pt;}
.xb{left:200.346655pt;}
.xd{left:220.506655pt;}
.x12{left:254.920000pt;}
.x5{left:258.653333pt;}
.x10{left:273.026655pt;}
.x1{left:278.813310pt;}
.x26{left:281.466650pt;}
.x8{left:292.226655pt;}
.x23{left:302.186650pt;}
.xf{left:311.906655pt;}
.x7{left:313.666655pt;}
.x11{left:318.946655pt;}
.x1f{left:354.266650pt;}
.x22{left:362.106650pt;}
.x13{left:385.333333pt;}
.x20{left:389.866650pt;}
.xe{left:398.493321pt;}
.x2a{left:433.066667pt;}
.x28{left:435.080000pt;}
.x29{left:438.093333pt;}
.x21{left:471.946650pt;}
.x1e{left:557.626650pt;}
.x1b{left:565.532000pt;}
.x1a{left:598.560000pt;}
.x27{left:735.653317pt;}
.x24{left:750.293317pt;}
.x18{left:792.500000pt;}
.x2b{left:848.506667pt;}
.x25{left:1011.279983pt;}
}
